In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

WARNING:tensorflow:From c:\Users\prems\Documents\Work\genai\ANN\myenv\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [8]:
# Load all trained model, Scaler pickle, onehot
model = load_model('model.h5')

# Load the encoder & Scaler
with open('label_encoder_geo.pkl', 'rb') as file:
    label_encoder_geo = pickle.load(file)



with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

print('label_encoder_geo ', label_encoder_geo.categories_[0])
print('label_encoder_gender ', label_encoder_gender.classes_)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

label_encoder_geo  ['France' 'Germany' 'Spain']
label_encoder_gender  ['Female' 'Male']

In [43]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': '40',
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# one_hot_input_encoder = OneHotEncoder()
geo_input_encoder = label_encoder_geo.transform([[input_data['Geography']]])
geo_input_dataframe = pd.DataFrame(geo_input_encoder.toarray(),columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_input_dataframe.head()

c:\Users\prems\Documents\Work\genai\ANN\myenv\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [52]:
# Convert object to dataframe
input_dataframe = pd.DataFrame([input_data])
input_dataframe

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [53]:
# Remove Geography from dataframe
input_dataframe=input_dataframe.drop('Geography', axis=1)
input_dataframe

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Male,40,3,60000,2,1,1,50000

In [54]:
input_dataframe = pd.concat([input_dataframe,geo_input_dataframe], axis=1)
input_dataframe

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [55]:
# Convert Gener to Number (Label)

label_encoder_gender = LabelEncoder()
input_dataframe['Gender'] = label_encoder_gender.fit_transform(input_dataframe['Gender'])
input_dataframe.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,0,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [58]:
# Scalling the input data
input_scaled = scaler.transform(input_dataframe)
input_scaled

array([[-0.53598516, -1.09499335,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [ ]:
prediction = model.predict(input_scaled)
prediction[0][0]

1/1 [==============================] - 0s 42ms/step

0.048600994

: